.app-root {
    display: flex;
}

.app-root .app-bar {
    background: #282c34;
}

.list {
    color: #282c34;
}

.list .MuiSvgIcon-root {
    color: #282c34;
}

.MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input {
    padding: 10px 13px;
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined {
    transform: translate(14px, 12px) scale(1);
}

.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75);
}

.app-exchanges-main::-webkit-scrollbar-track {
    -webkit-box-shadow: #282c34;
    background-color: #f5f5f5;
}

.app-exchanges-main::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

.app-exchanges-main::-webkit-scrollbar-thumb {
    background-color: #000000;
}
